.product__description.base-padding {
    padding: 0;
    border-radius: 0px;
  }
  .BGS7POW1 img {
    margin: 0;
  }
  .BGS7POW1 p {
    padding: 0;
    margin: 0;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #020202;

  }

  .BGS7POW1 h3 {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    margin-bottom: 8px;
    margin-top: 0;
    color: #020202;

  }


  .BGS7POW1 ul {
    list-style: disc;
    margin: 0;
    padding-left: 20px;
  }
  .BGS7POW1 ul li {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    padding-left: 0;
  }
  .BGS7POW1 {
    overflow: hidden;
  }
  body {
    padding: 0;
    margin: 0;  }
  .BGS7POW1 div {
    padding: 0;
  }
  div.BGS7POW1 {
    padding: 0;
  }
  .BGS7POW1 br {
    display: block;
  }
  .product__body .el-tabs__header {
    z-index: 6;
  }


  .BGS7POW1{
    max-width: 1366px;
    margin: 0 auto;
    overflow-x: hidden;
  }

  .BGS7POW1 img{
    width: 100%;
    display: block;
  }

  /* ProPower */

  .BGS7POW1 .ProPower{
    padding: 0 16px 32px;
  }

  .BGS7POW1 .ProPower #logo_bosch{
    width: 89px;
    margin-bottom: 16px;
  }

  .BGS7POW1 .ProPower h2,
  .BGS7POW1 .ProPower h3{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    margin: 0;
    color: #020202;

  }

  .BGS7POW1 .ProPower h2{
    margin-bottom: 8px;
  }


@media screen and (min-width:666px) {
    
  .BGS7POW1 .ProPower{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 0 32px;
    
    position: relative;

  }


  .BGS7POW1 .ProPower .ProPower_text{
    padding-right: 24px;
  }
   

  .BGS7POW1 .ProPower img{
    grid-column-start: 2;
    grid-row-start: 1;

  }
  .BGS7POW1 .ProPower #logo_bosch{
    width: 89px;
    margin-bottom: 0;
    position: absolute;
    top:30px ;
    

  }
    
}


@media screen and (min-width:1024px) {

    .BGS7POW1 .ProPower{
        padding: 0 40px;

    }
    .BGS7POW1 .ProPower h2,
    .BGS7POW1 .ProPower h3{
      font-size: 28px;  
    }
    .BGS7POW1 .ProPower h2{
        margin-bottom: 10px;
    }
    .BGS7POW1 p,.BGS7POW1 ul li {
        font-size: 18px;
      }
    
      .BGS7POW1 h3 {
        font-size: 30px;
        margin-bottom: 12px;
      }
      .BGS7POW1 .ProPower #logo_bosch{
        width: 129px;
        top:40px ;
      }

}


@media screen and (min-width:1366px) {
    .BGS7POW1 .ProPower{
        padding: 0 60px;

    }
    .BGS7POW1 .ProPower h2,
    .BGS7POW1 .ProPower h3{
      font-size: 38px;  
    }
    .BGS7POW1 .ProPower h2{
        margin-bottom: 14px;
    }
    .BGS7POW1 p,.BGS7POW1 ul li {
        font-size: 24px;
      }
    
      .BGS7POW1 h3 {
        font-size: 36px;
        margin-bottom: 16px;
      }
      .BGS7POW1 .ProPower #logo_bosch{
        width: 188px;
        top:60px ;
      }

      .BGS7POW1 .ProPower .ProPower_text{
        padding-right: 0;
      }


}


  /* .power */


  .BGS7POW1 .power{
    display: grid;
    grid-gap: 32px;
    padding: 32px 16px;
    text-align: center;
  }

  @media screen and (min-width:666px) {

    .BGS7POW1 .power{
        padding: 32px;
    }

    .BGS7POW1 .power_text{
        padding: 0 35px;
    }

  }

@media screen and (min-width:1024px) {
    .BGS7POW1 .power{
        padding: 42px 40px;
        gap: 40px;

    }
    .BGS7POW1 .power_text{
        padding: 0 48px;
    }
}

@media screen and (min-width:1366px) {

    .BGS7POW1 .power{
        padding: 60px;
        
    }
    .BGS7POW1 .power_text{
        padding: 0 223px;
    }

}





  /* radius */

  .BGS7POW1 .radius{
    padding: 0 16px;
    display: grid;
    gap:24px ;
  }


  @media screen and (min-width:666px) {

    .BGS7POW1 .radius{
        grid-template-columns: repeat( 2, 1fr);
        align-items: center;
        padding: 0 32px;
    }

    .BGS7POW1 .radius .radius_text{
        padding-right: 7px;
    }

  }

  @media screen and (min-width:1024px) {
    .BGS7POW1 .radius{
        padding: 0 40px;
    }

  }

    @media screen and (min-width:1366px) {
        .BGS7POW1 .radius{
            padding: 0 60px;
        }
        .BGS7POW1 .radius .radius_text {
            padding-right: 8px;
        }


    }




  /* SelfClean */
  .BGS7POW1 .SelfClean{
    padding: 32px 16px;
    display: grid;
    gap: 24px;

  }

  @media screen and (min-width:666px) {
    .BGS7POW1 .SelfClean{
        grid-template-columns: repeat( 2, 1fr);
        align-items: center;
        padding: 32px 32px;

    }
    .BGS7POW1 .SelfClean .SelfClean_text{
        grid-column-start: 2;
        grid-row-start: 1;

    }

  }


  @media screen and (min-width:1024px) {

    .BGS7POW1 .SelfClean{
        padding: 42px 40px;
    }

  }

  @media screen and (min-width:1366px) {
    .BGS7POW1 .SelfClean{
        padding: 60px;
    }


  }

  /* ТAirCycle */

  .BGS7POW1 .ТAirCycle{
    display: grid;
    gap: 24px;
    padding: 32px 0;
  }

  .BGS7POW1 .AirCycle_text{
    padding: 0 16px;

  }


  @media screen and (min-width:666px) {

    .BGS7POW1 .ТAirCycle{
        padding: 32px;
        text-align: center;
        gap: 32px;
    }
  }


  @media screen and (min-width:1024px) {

    .BGS7POW1 .ТAirCycle{
        padding: 42px 40px;
        gap:40px;
    }

  }

  @media screen and (min-width:1366px) {

    .BGS7POW1 .ТAirCycle{
        padding: 60px;
        gap:40px;
    }

    .BGS7POW1 .AirCycle_text{
        padding: 0 223px;
    
      }


  }

  /* filter_hepa */


  .BGS7POW1 .filter_hepa{
    padding: 32px 16px;
    display: grid;
    gap: 24px;

  }


  @media screen and (min-width:666px) {
    .BGS7POW1 .filter_hepa{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        padding: 32px ;
    }


  }

  @media screen and (min-width:1024px) {
    .BGS7POW1 .filter_hepa{
        padding: 42px 40px;
    }



  }

  @media screen and (min-width:1366px) {

    .BGS7POW1 .filter_hepa{
        padding: 60px;
    }

  }


  /* brush_top */


  .BGS7POW1 .brush_top{
    padding: 32px 16px;
    display: grid;
    gap: 24px;
    text-align: center;

  }

  .BGS7POW1 .brush_top .brush_top_block{
    display: grid;
    gap:20px ;
  }

  @media screen and (min-width:666px) {

    .BGS7POW1 .brush_top{
        grid-template-columns: repeat(2,1fr);
        padding: 32px;
    }

  }

  @media screen and (min-width:1024px) {
    .BGS7POW1 .brush_top{
        padding: 42px 40px;
    }

    .BGS7POW1 .brush_top .brush_top_block{
        gap:28px ;
    }


  }

  @media screen and (min-width:1366px) {
    .BGS7POW1 .brush_top{

        padding:60px;

    }

    .BGS7POW1 .brush_top .brush_top_block{
        gap:38px ;
    }


  }

  /* brush_bottom_block */

  .BGS7POW1 .brush_bottom{
    padding: 32px 16px;
    display: grid;
    gap: 24px;
    text-align: center;

  }

  .BGS7POW1 .brush_bottom .brush_bottom_block{
    display: grid;
    gap:20px ;
  }


  @media screen and (min-width:666px) {
    .BGS7POW1 .brush_bottom{
        grid-template-columns: repeat(3,1fr);
        padding: 32px;
        align-items: start;
    }

  }

  @media screen and (min-width:1024px) {
    .BGS7POW1 .brush_bottom{
        padding: 42px 40px;
    }

  .BGS7POW1 .brush_bottom .brush_bottom_block{
    gap:28px ;
  }

  .BGS7POW1 .brush_bottom .brush_bottom_block p{
        padding: 0 29px;
  }

}

@media screen and (min-width:1366px) {
    .BGS7POW1 .brush_bottom{
        padding: 60px;
    }
    .BGS7POW1 .brush_bottom .brush_bottom_block{
        gap:38px ;
      }
      .BGS7POW1 .brush_bottom .brush_bottom_block p{
        padding: 0 50px;
  }

}


/* .ten_yars */


.BGS7POW1 .ten_yars{
    padding: 32px 16px;
    display: grid;
    gap: 32px;
    text-align: center;    
} 


@media screen and (min-width:666px) {
    .BGS7POW1 .ten_yars{
        padding: 32px;
    }
    .BGS7POW1 .ten_yars p{
        padding: 0 58px;
    }

}
@media screen and (min-width:1024px) {
    .BGS7POW1 .ten_yars{
        padding: 40px;
    }
    .BGS7POW1 .ten_yars p{
        padding: 0 48px;
    }

}

@media screen and (min-width:1366px) {
    .BGS7POW1 .ten_yars{
        padding: 60px;
    }
    .BGS7POW1 .ten_yars p{
        padding: 0 223px;
    }

}


/* .dosch_ctandart */


.BGS7POW1 .dosch_ctandart{
    padding: 32px 16px;
    display: grid;
    gap: 32px;
    text-align: center;   
}


@media screen and (min-width:666px) {

    .BGS7POW1 .dosch_ctandart{
        padding: 32px;

    }
    .BGS7POW1 .dosch_ctandart  .dosch_ctandart_img{
        padding: 0 151px;
    }
}

@media screen and (min-width:1024px) {

    .BGS7POW1 .dosch_ctandart{
        padding: 42px 193px;

    }
    .BGS7POW1 .dosch_ctandart  .dosch_ctandart_img{
        padding: 0 53px;
    }

}

@media screen and (min-width:1366px) {
    .BGS7POW1 .dosch_ctandart{
        padding: 60px 302px;

    }
    .BGS7POW1 .dosch_ctandart  .dosch_ctandart_img{
        padding: 0 53px;
    }


}